@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  color: black;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}

home h2 {
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 25rem;
  height: 3rem;
  position: absolute;
  top: 15px;
  right: 5%;
}

.weather {
  position: inherit;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0 0 5px #333;
}

.countries {
  display: grid;
  grid-gap: 1rem;
}

.info p {
  color: black;
}

.info {
  position: absolute;
  top: 250px;
  left: 350px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  padding: 2rem;
  position: absolute;
  bottom: 20px;
  left: 600px;
}

.country {
  box-shadow: 0 0 5px rgb(92, 92, 92);
  border-radius: 50px;
  position: relative;
  background-color: white;
  width: 300px;
  height: 350px;
  margin: 5rem;
}

.country h2,
.country h3 {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 0;
  color: white;
}

.country h3 {
  padding: 0 1rem 1rem;
}

.cardContent {
  padding: 3rem;
}

.cardContent span {
  font-weight: 700;
  margin-right: 1rem;
}
.low {
  text-transform: lowercase;
}

@media (min-width: 575.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 767.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 1199.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
